<!-- <p>navbar works!</p> -->

<!-- style="bottom:0px; width: 100%; position: fixed;" -->
<div class="bootstrap-wrapper">
    <div class="container-fluid back" style="background-color: #341a62;">
        <div class="row">
            <div class="col-md-6" style="margin-left: 600px;">

                <mat-toolbar style="background-color: #341a62; color: white; " class="footer">
                    <button mat-icon-button class="example-icon mb10" aria-label="Example icon-button with menu icon">
                        <fa-icon [icon]="copyright"></fa-icon>
                    </button>
                    <a class="home-style mb10"><span>Copyright @2024 | Quizzy Exam Portal</span></a>
                    <span class="example-spacer"></span>
                </mat-toolbar>

            </div>


        </div>
    </div>
</div>